.gellaryContainer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  padding-right: 13px;
}

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.listItem {
  min-width: calc((100% - 56px) / 4);
}
